h1{
    margin:0 0 .25rem;
}

body{
    font-family:system-ui,-apple-system,Segoe UI,Roboto,'Helvetica Neue',Arial;
    margin:0;color:#0b2239;
    background:#dceef8;
}

header{
    background:linear-gradient(90deg,#046788,#00a9a5);
    color:white;padding:2rem;
}

.container{
    max-width:1100px;
    margin:1.5rem auto;
    padding:0 1rem;
}

.container1{
    max-width:1100px;
    margin:1.5rem auto;
    padding:0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    background-color: white;
    padding: 10px;
    width: 1000px;
}

.lol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.lol1{
    display: flex;
    align-items: center;
}

.esp{
    margin-left: 30px;
}

img{
    width: 120px;
    height: 80px;
    border-radius: 12px;
}

hr{
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead tr {
    background-color: #046788; 
    color: #ffffff;
    text-transform: uppercase;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #ddd;
}

nav{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #046788, #0b2239);
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav p{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}