body{
    font-family:system-ui,-apple-system,Segoe UI,Roboto,'Helvetica Neue',Arial;
    margin:0;color:#0b2239;
    background:#dceef8;
}

header{
    background:linear-gradient(90deg,#046788,#00a9a5);
    color:white;padding:2rem;
    text-align: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 10px;
}

div{
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 6px 12px;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b2239;
}